<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>WILDEYE</title>
</head>

<body>
    <header class="header">
    <div class="nav">
        <a href="/"><img src = "static/css/Images/logo.png" alt="logo" class="logo"></a>
        <nav class="navbar">
            <ul class="navbar-list flex">
                <li><a href="/" class = "navbar-link">Home</a></li>
                <li><a href="/map" class = "navbar-link">Explore</a></li>
                <li><a href="/NodesStatus" class = "navbar-link">Nodes</a></li>
                <li><a href="/admin" class = "navbar-link navbar-link-btn">ADMIN</a></li>
                <li><a href="/Subscribe" class = "navbar-link navbar-link-btn">Subscribe</a></li>
            </ul>
        </nav>
        <div class="navbar-mobile">
            <ion-icon name="menu-outline" class="navbar-icon"></ion-icon>
            <ion-icon name="close-circle-outline" class="navbar-icon"></ion-icon>
        </div>
    </div>
            <section class="content">
                <h1 class="heading">Deploy, Detects, Deliver</h1>
                <p class="para"> <span>"</span>Wildeye Is An Affordable  <span>Hardware</span> And <span>Software </span>Solution<br>For <span>Realtime</span> Wildfire Detection</p>
                <p class="para1">
                    To know the real time Status of Different Nodes <br> 
                    click down the button below-
                </p>
                <a href="/NodesStatus"><button class="explore" href="/map">Nodes Panel</button></a>

            </section>
    </header>  
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="static/index.js"></script>
</body>
</html>