 <div class = "filter">
 <h1 class="flex">Node - <span>{{nid}}</span></b></h1>
    <div id="hum" class="flex flex-column">
        <h1 class="flex">Humadity</h1>
        <h2 class="flex">{{humadity}} RH</h2>
    </div>
    <div id="temp" class="flex flex-column">
        <h1 class="flex">Temperature</h1>
        <h2 class="flex">{{temperature}} Celsius</h2>
    </div>
    <div id="fire" class="flex flex-column">
        <h1 class="flex">Detect Fire</h1>
        <h2 class="flex">{{firestatus}}</h2>
    </div>
</div>
